useDynLib(maelstrom, .registration = TRUE)
export(add_reverb)
export(allpass_filter)
export(atom_pattern)
export(attack)
export(audio_tag)
export(b64_encode)
export(bjorklund)
export(chord)
export(comb_filter)
export(compact)
export(cycle_choice)
export(cycle_driver)
export(degrade)
export(degrade_by)
export(echo)
export(envelope)
export(euclid)
export(every)
export(fast)
export(fastcat)
export(from_list)
export(gain)
export(hap)
export(hap_begins_in)
export(hap_onset)
export(highpass)
export(is_num)
export(is_rest)
export(kit)
export(lowpass)
export(lpf)
export(maelstrom_cli)
export(maelstrom_listen)
export(maelstrom_playground)
export(midi_to_freq)
export(mini_compile)
export(mini_compile_poly)
export(mini_compile_seq)
export(mini_count_steps)
export(mini_parse_choice)
export(mini_parse_element)
export(mini_parse_euclid)
export(mini_parse_layer)
export(mini_parse_number)
export(mini_parse_pattern)
export(mini_parse_primary)
export(mini_parse_root)
export(mini_parse_step)
export(mini_parse_suffixes)
export(mini_token_value)
export(mini_tokenize)
export(mix)
export(mixdown)
export(modify_num)
export(ms_pattern)
export(n)
export(nd_degrade)
export(new_parser)
export(note)
export(note_to_midi)
export(num_default)
export(num_from_value)
export(num_or)
export(often)
export(osc)
export(palindrome)
export(pan)
export(parse_mini)
export(pat_filter)
export(pat_overlay)
export(pat_shift)
export(pat_with_value)
export(per_cycle)
export(ps_expect)
export(ps_is_op)
export(ps_next)
export(ps_peek)
export(ps_peek_val)
export(pure)
export(query_arc)
export(rarely)
export(remap_pattern)
export(render)
export(render_hap)
export(render_stereo)
export(resolve_lpf)
export(rev)
export(s)
export(schroeder_wet)
export(schroeder_wet_r)
export(silence)
export(slow)
export(slowcat)
export(sometimes)
export(sometimes_by)
export(st_range)
export(stack)
export(str_seed)
export(struct)
export(swing)
export(synth)
export(timespan)
export(ts_duration)
export(ts_intersection)
export(ts_split)
export(uzu_rnorm)
export(uzu_runif)
export(val_key)
export(voice_bd)
export(voice_bd_ac)
export(voice_cp)
export(voice_hh)
export(voice_hh_ac)
export(voice_note)
export(voice_rim)
export(voice_sd)
export(voice_sd_ac)
export(voice_shaker)
export(voice_tom)
export(voice_conga)
export(voice_crash)
export(voice_lead)
export(voice_pad)
export(voice_pluck)
export(voice_ride)
export(voice_sub)
export(with_seed)
export(write_wav)
export(schroeder_wet_rust)
export(arp)
export(bitcrush)
export(chorus)
export(chorus_fx)
export(crush)
export(drive)
export(humanize)
export(midi_to_note)
export(saturate)
export(transpose)
export(render_wav)
export(arrange)
export(rust_available)
